.CoreSection{
    margin-top: 25%;
    text-align: center;
}
.contservice{
    margin-top: 27%!important;
}
.banner{
    text-align: center;
}
.imgt{
    color: white;
    z-index: auto;
    margin-top: -10%;
}
